<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>LISTA DE REPORTES</title>
</head>
<body bgcolor="#3CB371">
<div style="text-align:center;">
<h1>REPORTES ADMINISTRADOR</h1>
<h2>Lista De Reportes</h2>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/reporte6/" name = "n1" style="color:#EE2C2C; border: 2px padding: 2px 5px;" method="get">6. Gráfica de top 5 de llamadas más largas.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/reporte7/" name = "n2" style="color:#104E8B; border: 2px padding: 2px 5px;" method="get">7. Gráfica de porcentaje de llamadas realizadas en la mañana, tarde, noche.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/reporte8/" name = "n3" style="color:#EE2C2C; border: 2px padding: 2px 5px;" method="get">8. Gráfica de los clientes que más han llamado para determinado mes.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/reporte9/" name = "n4" style="color:#104E8B; border: 2px padding: 2px 5px;"method="get">9. Mostrar contratos vencidos y los vigentes para determinado cliente.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/reporte10/" name = "n5" style="color:#EE2C2C; border: 2px padding: 2px 5px;" method="get">10. Top 3 Clientes que más contratos han tenido.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/reporte11/" name = "n6" style="color:#104E8B; border: 2px padding: 2px 5px;" method="get">11. Mostrar el top 10 Clientes con mayor número de contratos, mostrando los que han tenido,agrupado por año, mostrando la cantidad de contrato que han tenido.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/reporte12/" name = "n7" style="color:#EE2C2C; border: 2px padding: 2px 5px;" method="get">12. Mostrar el top 10 de los Clientes que tienen Internet de más de 1MB.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
</div>
</body>
</html>
