<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>LISTA DE REPORTES</title>
</head>
<body bgcolor="#3CB371">
<div style="text-align:center;">
<h1>REPORTES USUARIO</h1>
<h2>Lista De Reportes</h2>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/reporte1/" name = "n1" style="color:#EE2C2C; border: 2px padding: 2px 5px;" method="get">1. Factura de un Teléfono</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/metodo_Reporte2/" name = "n2" style="color:#104E8B; border: 2px padding: 2px 5px;" method="get">2. Detalle Histórico de las llamadas que ha realizado un cliente agrupado por número, año, mes, día y las llamadas juntos con los costos totales que ha realizado por cada año, mes, día.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/metodo_Reporte3/" name = "n3" style="color:#EE2C2C; border: 2px padding: 2px 5px;" method="get">3. Detalle Histórico de las mensajes que ha realizado un cliente agrupado por número, año,mes, día y las llamadas juntos con los costos totales que ha realizado por cada año, mes,día.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/metodo_Reporte4/" name = "n4" style="color:#104E8B; border: 2px padding: 2px 5px;"method="get">4. Detalle Histórico de todas las llamadas en el sistema para un año en específico, agrupando por mes, día.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
<h4  align="center"> <a href="/metodo_Reporte5/" name = "n5" style="color:#EE2C2C; border: 2px padding: 2px 5px;" method="get">5. Detalle Histórico de todas las mensajes en el sistema para un año en específico,agrupando por mes, día.</a></h4>
<h3 align="center" style="color:#EE7621" >______________________________________________________________________________</h3>
</div>
</script>
</body>
</html>
